@import "../../styles/variables";
@import "../../styles/mixins";

.container {
  height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content {
  flex: 1;
  overflow-y: hidden;
  padding-bottom: 64px; // Space for bottom nav
}
