@import "../../styles/variables";
@import "../../styles/mixins";

.notice {
  @include flex-center;
  min-height: 100dvh;
  background: $bg-color;
  padding: $spacing-xl;
}

.content {
  @include flex-column;
  align-items: center;
  text-align: center;
  gap: $spacing-xl;
  max-width: 500px;
}

.logo {
  font-size: 48px;
  font-weight: 400;
  background: $primary-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0;
}

.message {
  font-size: 16px;
  color: $text-secondary;
  line-height: 1.6;
  margin: 0;
}
